button {
    background-color: #e67e22;
    width: 100%;
    border: none;
    color: white;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-entrance{
    width: 40%;
    border-radius: 20px;
}

.button-openWallet{
    width: 50%;
    border-radius: 20px;
}