button {
    background-color: #e67e22;
    width: 100%;
    border: none;
    color: black;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	font-family: 'Orbitron', sans-serif;
    margin: 4px 2px;
    cursor: pointer;
	transition: all 0.4s;
    border: none;
    outline:none;
	box-shadow: 1px 2px #4a4e4a;
}

 button:hover {
	    color: white;
	}

.button-menu{
    background-color: #e67e22;
    width: 50px;
    height: 50px;
    font-size: 25px;
}

.button-entrance{
    width: 40%;
    border-radius: 20px;
}

.button-openWallet{
    width: 50%;
    border-radius: 20px;
}