@import url('https://fonts.googleapis.com/css?family=Montserrat:300,600');
body {
    background: #262626;
    color: #fff;
    font-family: 'Montserrat';
    margin: 0;
}

.right {
    text-align: right;
    padding-right: 30px;
}

.row {
    width: 100%;
    margin-top: 0px;
    background: #1A1A1A;
    border-bottom: 3px solid orangered;
    display: grid;
    grid-template-columns: 35% auto 35%;
    align-items: center;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 30;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#name-container {
    background: #353535;
    padding: 0 0px;
    text-align: center;
}