body {
    background: #262626;
    color: #fff;
    font-family: 'Montserrat';
    margin: 0;
}

.row {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    margin-top: 0px;
    background: #1A1A1A;
    border-bottom: 3px solid orangered;
    display: grid;
    grid-template-columns: 33% auto 33%;
    align-items: center;
}

article {
    float: right;
    padding: 30px;
    width: 30%;
    height: 300px;
    margin-top: 350px;
}

article.balance1{
    float: none;
    padding: 5px;
    width: auto;
    margin: auto;
    margin-top: 40px;
    height: 20%;
    border: 2px solid orangered;
    background: transparent;
}

article.balance2{
    float: none;
    padding: 5px;
    width: 50%;
    height: auto;
    margin-top: 20px;
    border: 2px solid orangered;
    background: transparent;
    display: inline-block;
}

article.balance3{
    float: right;
    padding: 5px;
    width: auto;
    height: auto;
    margin-top: 20px;
    border: 2px solid orangered;
    background: transparent;
}

section:after {
    content: "";
    display: table;
    clear: both;
}

section {
    margin-top: 120px;
}

section.navBar{
    padding: 10px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #1A1A1A;
    border-bottom: 3px solid orangered;
    color: white;
    text-align: center;
}

#name-container {
    background: #353535;
    padding: 0 0px;
    text-align: center;
}

#name-test{
    background: transparent;
    text-align: center;
}

img {
    opacity: 0.1;
    transition: all 0.5s ease-in-out;
    animation: geboy normal 4s infinite ease-in-out;
    animation-delay: 0.5s;
    height: auto;
    position: relative;
    image-rendering: optimizeQuality;
}

img.balance{
    opacity: 100;
    transition: all 0.5s ease-in-out;
    animation: none;
    animation-delay: 0.5s;
    position: inherit;
    image-rendering: optimizeQuality;
}

div.headline{
    font-size: 40px;
}

table, th, td {
    border-collapse: collapse;
}